/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


body {
        font-family: "ＭＳ ゴシック", "Osaka－等幅";
        font-size: 14px;
        color: #000000;
        background-color: #ffffff;
        top: auto;
        height: auto;
        width: 900px;
        margin-top: 0px;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
        padding-top: 10px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
}
h1 {
    color: #ffffff;
    background: #c71585;
    line-height: 150%;
}
h2 {
    border-bottom: 1px;
}


#footer {
    width: 900px;
    height: 30px;
    text-align: center;
    display:table;
    vertical-align:middle;
    background-color: #c71585;
    color: #ffffff;
}