// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#container {
 width:900px;
 margin-left:auto;
 margin-right:auto;
}

#sidebox {
 width:200px;
 float:right;
 background-color: #ffffff ;
}

#sidemenu {
    width: 200px;
    height: auto;
}
#mainbox {
 width: 700px;
 float: right;
 background-color: #ffffff ;
}
#mainfield {
 width: 700px;
 height: auto;
 background-color: #ffffff ;
}